.paste .hll { background-color: #222 }
.paste  { background: #1a1a1a; }
.paste .c { color: #408080; font-style: italic } /* Comment */
.paste .err { border: 1px solid #FF0000 } /* Error */
.paste .k { color: #008000; font-weight: bold } /* Keyword */
.paste .o { color: #666666 } /* Operator */
.paste .cm { color: #408080; font-style: italic } /* Comment.Multiline */
.paste .cp { color: #BC7A00 } /* Comment.Preproc */
.paste .c1 { color: #408080; font-style: italic } /* Comment.Single */
.paste .cs { color: #408080; font-style: italic } /* Comment.Special */
.paste .gd { color: #A00000 } /* Generic.Deleted */
.paste .ge { font-style: italic } /* Generic.Emph */
.paste .gr { color: #FF0000 } /* Generic.Error */
.paste .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.paste .gi { color: #00A000 } /* Generic.Inserted */
.paste .go { color: #808080 } /* Generic.Output */
.paste .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.paste .gs { font-weight: bold } /* Generic.Strong */
.paste .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.paste .gt { color: #0040D0 } /* Generic.Traceback */
.paste .kc { color: #008000; font-weight: bold } /* Keyword.Constant */
.paste .kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
.paste .kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
.paste .kp { color: #008000 } /* Keyword.Pseudo */
.paste .kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
.paste .kt { color: #B00040 } /* Keyword.Type */
.paste .m { color: #666666 } /* Literal.Number */
.paste .s { color: #BA2121 } /* Literal.String */
.paste .na { color: #7D9029 } /* Name.Attribute */
.paste .nb { color: #008000 } /* Name.Builtin */
.paste .nc { color: #0000FF; font-weight: bold } /* Name.Class */
.paste .no { color: #880000 } /* Name.Constant */
.paste .nd { color: #AA22FF } /* Name.Decorator */
.paste .ni { color: #999999; font-weight: bold } /* Name.Entity */
.paste .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.paste .nf { color: #0000FF } /* Name.Function */
.paste .nl { color: #A0A000 } /* Name.Label */
.paste .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.paste .nt { color: #008000; font-weight: bold } /* Name.Tag */
.paste .nv { color: #19177C } /* Name.Variable */
.paste .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.paste .w { color: #bbbbbb } /* Text.Whitespace */
.paste .mf { color: #666666 } /* Literal.Number.Float */
.paste .mh { color: #666666 } /* Literal.Number.Hex */
.paste .mi { color: #666666 } /* Literal.Number.Integer */
.paste .mo { color: #666666 } /* Literal.Number.Oct */
.paste .sb { color: #BA2121 } /* Literal.String.Backtick */
.paste .sc { color: #BA2121 } /* Literal.String.Char */
.paste .sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.paste .s2 { color: #BA2121 } /* Literal.String.Double */
.paste .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.paste .sh { color: #BA2121 } /* Literal.String.Heredoc */
.paste .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.paste .sx { color: #008000 } /* Literal.String.Other */
.paste .sr { color: #BB6688 } /* Literal.String.Regex */
.paste .s1 { color: #BA2121 } /* Literal.String.Single */
.paste .ss { color: #19177C } /* Literal.String.Symbol */
.paste .bp { color: #008000 } /* Name.Builtin.Pseudo */
.paste .vc { color: #19177C } /* Name.Variable.Class */
.paste .vg { color: #19177C } /* Name.Variable.Global */
.paste .vi { color: #19177C } /* Name.Variable.Instance */
.paste .il { color: #666666 } /* Literal.Number.Integer.Long */

