{% extends "layout.html" %}

{%block title %}Delete Paste: {{ paste.uri }} - {{ super() }}{% endblock %}
{%block caption %}Confirm Delete Paste: {{ paste.uri }}{% endblock %}

{% block content %}

  <form action="{{ url_for("delete") }}" method="post">
    <input type="hidden" name="uri" value="{{ paste.uri }}" />
    <table id="view" cellspacing="1" cellpadding="0">
      <tr>
        <th width="15%">Details</th>
        <th class="title">{% if paste.title %}{{ paste.title }}{% endif %}</th>
      </tr>
      <tr>
        <td class="details">
          {% if paste.user == user %}
            {% if paste.private %}
              <em class="private">Private</em><br />
            {% endif %}
          {% endif %}
          {% if paste.author %}<em><a href="{{ url_for('author', author=paste.author) }}">{{ paste.author }}</a></em><br />{% endif %}
          {{ paste.human_date }}<br />
          {{ paste.human_language }}

        </td>
        <td>
          {{ paste.preview|safe }}
        </td>
      </tr>
      <tr>
          <td align="center" colspan="2">
              <input type="submit" value="Delete" class="button" />
              <a href="{{ url_for("all") }}">Cancel</a>
          </td>
      </tr>
    </table>
  </form>

{% endblock %}

<!--
vim:ft=htmldjango:sw=2:ts=2:sts=2
-->
