<!DOCTYPE html>
<html>
    <head>
      <title>{% block title %}Pastebin{% endblock %}</title>
      <link rel="stylesheet" href="/static/styles.css" type="text/css" />
      <link rel="stylesheet" href="/static/slate.css" type="text/css" />
    </head>
    <body>
      <div id="logo" class="rounded">
        <img src="/static/images/logo_left.gif" class="decoration left" />
        <a href="/"><img src="/static/images/logo.png" /></a>
        <img src="/static/images/logo_right.gif" class="decoration right" />
      </div>
      <ul id="navigation">
        <li class="first">
          <a href="/">New Paste</a>
        </li>
        <li>•</li>
        <li>
          <a href="/all/">All Pastes</a>
        </li>
        {% if session_author %}
          <li>•</li>
          <li>
            <a href="{{ url_for('author', author=session_author) }}">Your Pastes</a>
          </li>
        {% endif %}
      </ul>
      <div id="page" class="rounded">
        <div id="info">
          <div id="welcome">
            {% if session_author %}Welcome back {{ session_author }}{% endif %}
          </div>
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              <div id="messages">
                {% for m in messages %}
                  <p>{{ m }}</p>
                {% endfor %}
              </div>
            {% endif %}
          {% endwith %}
        </div>
        <div class="section">
          <div class="caption">
            <img src="/static/images/hdr_left.gif" class="decoration left" />
            {% block caption %}{% endblock %}
            <img src="/static/images/hdr_right.gif" class="decoration right" />
          </div>
          <div id="content">
            {% block content %}{% endblock %}
          </div>
        </div>
      </div>
      <div id="footer">
        <span class="discreet">Powered by Pure Will <span style="font-variant: small-caps">(tm)</span> - Made for the game <a href="neurohack.com/transcendence" target="_blank">Transcendence</a></span>
      </div>
    </body>
</html>
<!--
vim:ft=htmldjango:sw=2:ts=2:sts=2
-->
