{% extends "layout.html" %}

{%block title %}Viewing Paste: {{ paste.uri }} - {{ super() }}{% endblock %}
{%block caption %}Viewing Paste: {{ paste.uri }}{% endblock %}

{% block content %}

  <div class="head">
    <div class="title">
      <a href="{{ url_for('view', uri=paste.uri) }}">
        {{ paste.uri }}
        {% if paste.title %} - {{ paste.title }}{% endif %}
      </a>
    </div>
    <div class="links">
      <a href="{{ url_for('raw', uri=paste.uri) }}">Raw</a>
      <span class="separator">•</span>
      <a href="{{ url_for('delete', uri=paste.uri) }}">Delete</a>
    </div>

  </div>
  <div class="detail">
    {% if paste.user == user %}
      {% if paste.private %}
        <em class="private">Private Paste</em><br />
      {% endif %}
    {% endif %}
    Posted on {{paste.human_date}}
    {% if paste.author %}by <em><a href="{{ url_for('author', author=paste.author) }}">{{ paste.author }}</a></em>{% endif %}
    as {{ paste.human_language }}
    <div class="code">
      {{ paste.highlighted|safe }}
    </div>
  </div>

{% endblock %}

<!--
vim:ft=htmldjango:sw=2:ts=2:sts=2
-->
